body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /*color: #606c71; */
  color:white;
  background-color: #111118;
}

.jumbotron{
	
  background-color: #111118;
}

.page-container {
    background-image:url(../img/bg.png);
    background-position:center top;
    background-size:contain;
    height:600px;
    margin:0 auto;
    width:400px;
}

h1,h2,h3 {
	color:#ffffff;
	font-family:'Josefin Sans';
	font-weight:normal;
}